html,
body {
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  image-rendering: pixelated;
  background-color: black;
  height: 100%;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* dịch ngược lại để nằm giữa */
}
