body {
  background: black;
}

canvas {
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  max-width: 100%;
  max-height: 100%;
}

.assets {
  display: none;
}
