body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: url("/img/bg.avif");
  background-size: cover;
}

#board {
  width: 540px;
  height: 540px;
  /* background-color: green; */
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background: url("/img/soil2.jpg");
  background-size: cover;
  border: 3px solid white;
}

#board div {
  width: 180px;
  height: 180px;
  background-image: url("/img/pipe2.png");
  background-size: cover;
}

#board div img {
  width: 100px;
  height: 100px;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
