.Combatant {
  width: 67px;
  height: 14px;
  background: url("/img/ui/combatant-plate.png") no-repeat no-repeat;
  position: absolute;
}

.Combatant[data-team="player"] {
  left: 46px;
  right: 70px;
}

.Combatant[data-team="enemy"] {
  top: 28px;
  right: 77px;
}

.Combatant_character_crop {
  position: absolute;
  bottom: 1px;
  left: 3px;
  width: 22px;
  height: 12px;
  overflow: hidden;
}

.Combatant_character {
  display: block;
  position: absolute;
  left: -11px;
  bottom: -7px;
}

.Battle .Combatant_character_crop {
  display: none;
}

.Combatant_name {
  position: absolute;
  left: -2px;
  top: -8px;
  white-space: nowrap;
  background-color: var(--menu-font-color);
  color: #fff;
  font-size: 5px;
  padding: 0 2px;
  margin: 0;
}

.Combatant_type {
  position: absolute;
  left: 3px;
  top: -2px;
  width: 16px;
  height: 16px;
}

.Combatant_life-container {
  position: absolute;
  left: 20px;
  top: 4px;
  width: 26px;
  height: 3px;
  /* background-color: red; */
}

.Combatant_life-container > rect {
  transition: width 0.2s;
}

.Combatant_xp-container {
  position: absolute;
  left: 20px;
  top: 8px;
  background: red;
  width: 26px;
  height: 2px;
}

.Combatant_level {
  position: absolute;
  background: #f8c594;
  font-size: 12px;
  right: 2px;
  top: -1px;
  width: 17px;
  height: 12px;
  display: flex;
  align-items: center;
  border: 1px solid #a48465;
  margin: 0;
}

.Combatant_status[data-status="saucy"] {
  color: red;
}

.Combatant_status[data-status="drop"] {
  color: #582a79;
}
