:root {
  --border-color: #291d4d;
  --dialog-background: #fff384;
  --menu-background: #ffe8d2;
  --menu-border-color: #a48465;
  --menu-font-color: #3a160d;
  --menu-selected-background: #7fc2ff;
}

* {
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  text-align: center;
  padding: 0;
  align-items: center;
  overflow: hidden;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center; /* ngang */
  align-items: center; /* d·ªçc */
}

canvas {
  background-color: wheat;
  position: absolute;
  image-rendering: pixelated;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0;

  position: relative;
  width: 352px;
  height: 198px;
  max-height: 100%;
  max-width: 100%;
}
