* {
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  text-align: center;
  padding: 0;
  overflow: hidden;
}

canvas {
  background-color: wheat;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  /* width: 352px;
  height: 198px; */

  transform: scale(2);
  max-height: 100%;
  max-width: 100%;

  image-rendering: pixelated;
}

.header {
  margin-bottom: 10px;
}
