.wrapper {
  width: 600px;
  height: 600px;
  border: 5px solid black;
  position: absolute;
  background: url("./img/bg.jpg");
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
